*{
    margin: 0;
    padding: 0;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited, a:hover, a:active{
    color: navajowhite;
    background-color: transparent;
    text-decoration: underline;
}

body {
    font-family: Tahoma;
    font-size: 20px;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('public/img/welcome_page.png');
    background-repeat: no-repeat;

    background-size: cover;
}
.background_profile {
    width: 100%;
    height: 50%;
    background-image: url('public/img/lysy.png');
    background-repeat: no-repeat;

    background-size: cover;
}

.rectangle {
    width:20em;
    height:30em;
    background: transparent linear-gradient(0deg, #867F7F 0%, #434040 100%) 0% 0% no-repeat padding-box;
    top:100px;
    transform: translateX(-50%);
    left: 50%;
    padding: 15px 35px;

    border-radius: 100px;
    position: fixed;
}



p {
    color: white;
}
.blurred {
    filter: blur(3px);
}

.text-absolute {
    position: absolute;
    left: 0;
    top: 0;
}
.text-fixed {
    position: absolute;
    left: 0;
    top: 0;
}
.text-center{
    text-align: center;
    margin-top: 20px;
}

.text-white {
    color: white;
}

.mb-10 {
    margin-bottom: 10px;
}

.f-72 {
    margin-left: 1em;
    font-size: 4.5em;
}
.f-48 {
    margin-left: 2em;
    font-size: 48px;
}

.button-absolute {
    position: absolute;
    bottom: 150px;
    transform: translate(-50%, -50%);
    left: 50%;
}

.button-fixed1 {
    width: 400px;
    margin: 0 auto;
    margin-top: 150px;
}
.button-fixed2 {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
.invitation{
    margin-left: 50%;
    margin-top: 30px;
    font-family: Arial;
    font-size: 20px;

}

.btn1 {
    display: inline-block;
    text-align: center;
    background: transparent radial-gradient(closest-side at 50% 50%, #0E151C 0%, #5E6267 100%) 0 0 no-repeat padding-box;

    color: white;
    text-decoration: none;

    padding: 25px 70px;

    border-radius: 100px;
}

.btn2 {
    display: block;
    text-align: center;
    background: transparent radial-gradient(closest-side at 50% 50%, #000000 0%, #545454 100%) 0% 0% no-repeat padding-box;

    color: white;
    text-decoration: none;

    padding: 1.25em 1em;

    border-radius: 5em;
}

.btn:hover {
    border-radius: 0;
}

.only-phone {
    display: block;
}

.box {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.box .header {
    float: right;
    padding: 20px;
    width: 100%;
}

.box .header .user {
    float: left;
    margin-right: 100px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.box .header .edit-btn {
    float: left;
}
.box .header .edit-btn a {
    display: block;
    background: rgba(100, 100, 100, 0.6);
    padding: 10px 50px;
    text-decoration: none;
    color: black;
}

.float-right {
    float: right;
}
.content {
    padding: 25px;
    background: #5E6267;
    overflow: auto;
}
.content .menu {
    width: 30%;
    float: left;
}

.menu ul {
}
.menu ul li {
    margin: 30px auto;
    list-style-type: none;
}

.menu svg{
    fill: white;
}
.menu ul li a{
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    width: 300px;
    margin: 0 auto;
    text-decoration: none;
    padding: 15px 25px 15px 10px;
    background: transparent radial-gradient(closest-side at 50% 50%, #000000 0%, #545454 100%) 0% 0% no-repeat padding-box;;
    color: white;
}
.menu ul li a.active{
    background: transparent;

}

.menu a svg {
    margin-bottom: -4px;
    margin-right: 15px;
}

.content .content-right {
    width: 70%;
    float: left;
}

.content-right .map iframe {
    border-radius: 50px;
}

.content-right .section-content{
    display: none;

}

.content-right .active{
    display: block;
}

#privacy .text{
    color: red;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: transparent linear-gradient(0deg, #867F7F 0%, #434040 100%) 0% 0% no-repeat padding-box;;
    color: black;
    width: 75%;
    height: 50%;
    display: none;
    transform: translate(-50%, -50%);
}